body {
    font-family: Arial, sans-serif;
}

.container {
    display: none;
    width: 80%;
    margin: 20px auto;
}

#login-container, #register-container, #chat-container, #private-chat-container, #admin-functions {
    margin-bottom: 20px;
}

#messages {
    border: 1px solid #ccc;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
}
